@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    flex-direction: $direction;
}

$darkText: #313638;
$mainText: 'Noto Serif', serif;
$subText: 'Open Sans', sans-serif;
$width: 250px;
$roundedBorder: 5px;

div.card {
    @include flexCenter(column); 
    border: 1px solid grey;
    border-radius: $roundedBorder;
    width: $width;
    height: 100%;
    margin: 25px 12.5px 12.5px 25px;
    color: $darkText;
}

img.character {
    width: $width;
    border-radius: $roundedBorder;
}

div.content {
    padding: 10px;
}

.header {
    color: $darkText;
    text-decoration: none;
    font-family: $mainText;
}

.meta {
    font-family: $subText;
    color: $darkText;
    font-size: 10pt;
}

.description {
    color: grey;
    padding: 5px;
    font-family: $subText;
    font-size: 8pt;
}

button {
    background-color: #00AFB5;
    color: white;
    font-family: $mainText;
    border: none;
    height: 30px;
    cursor: pointer;
}

.cardGrid {
    @include flexCenter(row);
    flex-wrap: wrap;
}
